@model RCCClinic.Models.Patient

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smoking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smoking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcohol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcohol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorsNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorsNote)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
